@import 'colors';
@import 'animate';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 66px;
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}
h2,
h3 {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto;
	width: 60px;
	height: 4px;
	background-color: $main-color;
	margin-bottom: 40px;
}
.blue-text {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
	color: black;
}
nav {
	text-transform: uppercase;
	z-index: 1;

	a,
	i {
		color: $white;
	}

	a:hover {
		color: $main-color;
	}

	.fa-bars {
		padding: 10px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $main-color;
	}
}

header {
	color: $white;

	h1 {
		font-size: 30px;
		text-transform: uppercase;
	}

	p {
		font-size: 14px;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/header-mini.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}

	.btn-outline-light {
		text-transform: uppercase;
	}

	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 30px;
		color: $white;
	}
}
.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover {
		// transition: color 0.3s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url('../img/technology-small.jpg');
	background-position: center;
	background-size: cover;
	color: $white;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
	.aboutus-hero-item {
		margin: 10px 0;
		i {
			font-size: 36px;
		}
		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}
.portfolio {
	.carousel-item {
		position: relative;
		height: 600px;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		padding: 40px 0;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
}
.prices {
	background-color: $bg-color;
	.price-box {
		background-color: $white;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		padding: 20px;
		margin: 20px 10px;
		transition: transform 0.3s;
	}
	.bold {
		font-weight: bold;
	}
	i {
		padding: 0 5px;
		font-size: 24px;
	}
	.text {
		padding: 50px;
		a {
			text-decoration: none;
		}
		.text-up {
			font-size: 1.3rem;
		}
	}
	.price-box:hover {
		transform: scale(1.05);
	}
}
.team {
	position: relative;
	background-image: url('../img/iocenters-g89851b0b3_1920.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	h2 {
		color: $bg-color;
	}

	i {
		color: $main-color;
	}
	.team-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -5;
	}
	.card {
		img {
			height: 300px;
			object-fit: cover;
		}
		transition: transform 0.3s;
	}
	.card:hover {
		transform: scale(0.9);
	}
	.card-title {
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
	.card-body {
		height: 160px;
	}
}
.achivements {
	i {
		padding: 10px;
		font-size: 48px;
		color: $white;
		text-shadow: 0 0 5px #000;
	}
	.achievement-list {
		padding: 20px 0;
	}
	.achievement-number {
		font-size: 22px;
	}
	.achievement-text {
		font-size: 13px;
		text-transform: uppercase;
	}
}
.contact {
	position: relative;
	background-image: url('../img/skyline-g570f844e6_1920.jpg');
	background-attachment: fixed;
	background-size: cover;
	z-index: 0;
	height: 40vh;
	padding: 50px 0;
	color: $white;
	.contact-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 9, 27, 0.8);
		z-index: -10;
	}
	.contact-us {
		display: flex;
		align-items: center;
		color: $white;
		.contact-item {
			margin: 30px 0;
			h2 {
				margin-bottom: 15px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.social-media {
				font-size: 26px;
				a {
					padding: 10px;
					color: $white;
				}
				a:hover {
					color: lightgrey;
				}
			}
		}
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}

		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}
}
@media (min-width: 992px) {
	nav {
		height: 82px;
	}
	.aboutus-hero {
		background-image: url('../img/technology-big.jpg');
	}
}
@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url('../img/header-big.jpg');
		}
	}
}
